.login-container {
    width: 19rem;
    height: 19rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #cccccca0;
    box-shadow: 1px 1px 1px 1px #cccccca0;
  }

  .login-button{
    margin: 0.8rem;
  }
  
  mat-form-field {
    width: 90%;
    margin: 0.8rem;
  } 
  
  button {
    margin-top: 20px;
  }

  h1{
    margin-left: 0.5rem;
  }

  a{
    text-decoration: none;
    color: black;
    border-top: 1px solid cyan;
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }

  a:hover{
    color: cyan;
    border-top: 1px solid black;
  }

  