<div class="about-container">
    <mat-card class="about-card">
      <h2>We Are</h2>
      <p> 
        "UrbanTribe is a project born to promote a sustainable, collaborative, and inclusive urban lifestyle. We firmly believe in the power of sharing and in caring for urban spaces, enhancing the urban environment as a place of meeting and community growth.
      </p>
  
      <h3>Our Team</h3>
      <div class="team">
        <div class="member" *ngFor="let member of teamMembers">
          <img [src]="member.avatar" alt="{{member.name}}">
          <h4>{{ member.name }}</h4>
          <p>{{ member.role }}</p>
        </div>
      </div>
    </mat-card>
  </div>
