<div class="dashboard-container">
  
  <div class="new-user-form">
    <h1>Users Dashboard</h1>
    <form [formGroup]="userForm" (ngSubmit)="onSubmitUser()">
      <mat-form-field class="user-input" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
  
      <mat-form-field class="user-input" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
  
      <mat-form-field class="user-input" appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="male">M</mat-option>
          <mat-option value="female">W</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="user-input" appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="active">Active</mat-option>
          <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button class="user-input" color="primary" type="submit" [disabled]="!userForm.valid">Add new User</button>
      <span><button class="user-input" mat-raised-button color="primary" type="submit" (click)="seePosts()">See all posts</button></span>
      <span><button class="user-input" mat-raised-button color="primary" type="submit" (click)="logout()">Logout</button></span>
      
    </form>
  </div>

<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <app-user-list (userSelected)="onUserSelected($event)"></app-user-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-container *ngIf="selectedUser; else noSelection">
        <app-user-detail [user]="selectedUser"></app-user-detail>
      </ng-container>
      <ng-template #noSelection>
        <p>Select User</p>
      </ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>