mat-card{
    margin: 1rem;
    padding: 0.8rem;
    background-color: #000000aa;
}
mat-card-actions{
    display: flex;
    flex-direction: column;
    align-items: start;
}

mat-card-content{
    border-bottom: 1px solid cyan;
}

.comment-div{
    border-bottom: 1px solid cyan;
}

.post-button{
    margin: 1rem;
}

.post-input{
    margin: 1rem;
}