<mat-nav-list>
  <h3>Users</h3>
    <a  mat-list-item *ngFor="let user of users" (click)="selectUser(user)">
      {{ user.name }}
    </a>
  </mat-nav-list>

  <mat-form-field  class="post-input" appearance="fill">
    <mat-label>Paginator</mat-label>
    <mat-select [(ngModel)]="pageSize" (selectionChange)="loadUsers()">
      <mat-option value="10">10</mat-option>
      <mat-option value="20">20</mat-option>
      <mat-option value="40">40</mat-option>
      <mat-option value="60">60</mat-option>
    </mat-select>
  </mat-form-field>